.sun{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 50px;
    left: 50px;
}

.moon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(145, 173, 211);
    box-shadow: 20px 18px 0 0 rgb(202, 226, 236);
    position: absolute;
    bottom: -50px;
    right: 100px; 
}

.standard{
    top: 50px;
}

.moonStd{
    bottom: -50px;
}

.nightFromDay{
    animation: RiseMoon 5s linear;
}

.dayFromNight{
    animation: RiseSun 5s linear;
}

@keyframes RiseMoon {
    from {top: 50px;}
    to {bottom: -50px;}
}

@keyframes RiseSun {
    from {bottom: -50px;}
    to {top: 50px;}
}