.treeContainer{
    z-index: 4;
    height: 10vw;
    width: 10vw;
    position: absolute;
    z-index: 6;
}

.leaves{
    position: absolute;
    height: 4vw;
    width: 3vw;
    left: -12%;
    bottom: 80%;
    background: green;
    border-radius: 50%;
    z-index: 6;
}

.trunk{
    position: absolute;
    height: 10%;
    width: .5vw;
    top: 20%;
    background-color: rgba(114, 46, 46, 0.63);
    z-index: 6;
}