.rainContainer{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.positioningContainer{
    position: relative;
    height: 100vh;
    width: 5px;
    margin: 0;
}

.rainDropContainer{
    margin: 0;
    position: relative;
    height: 2vw;
    width: 5vw;
    animation: dropping .8s linear infinite;

}

.rain{
    height: 3vh;
    width: 1px;
    background-color:rgb(150, 224, 247);
    animation: rainDrop .8s linear infinite;
    position: relative;
    left: 50%;
    z-index: 7;
}

.drop{
    left: 20%;
    z-index: 6;
    position: relative;
    border-top: 2px dotted rgb(150, 224, 247);
    border-radius: 50%;
    width: 15px;
    height: 10px;
    animation: plop .8s linear infinite;
}

@media(max-width: 1200px){
    .drop{
        height: 8px;
        width: 12px;
        border-top: 1px dotted rgb(150, 224, 247);
    }
}

@keyframes rainDrop{
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    92% {
        opacity: 0;
    }
    100%{opacity: 0;}
}

@keyframes plop{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    90% {
        opacity: 1;
        transform: scale(0);
    }
    91% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes dropping{
    0%{
        top: 0;
    }
    90%{
        top: 95%;
    }
    100%{
        
    }
}