.bothContainers{
    height: 100%;
    position: absolute;
}

.sunContainer{
    left: 10%;
    top: 5%;
}

.sun{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 252, 235);
    position: relative;
    box-shadow: 0px 0px 40px 15px white;
    opacity: 0.9;
}

.moonContainer{
    right: 10%;
    top: 4%;
    width: 15vw;
}

.moon{
    height: 100px;
    width: 100px;
    position: relative;
    visibility: hidden;
}

.moon svg{
    height: 100px;
    width: 100px;
}

.nightFromDay{
    animation: Rise 5s linear forwards;
    visibility: visible;
}

.dayFromNight{
    animation: Fall 5s linear forwards;
    visibility: visible;
}

@keyframes Fall {
    0% {transform: translateY(100vh);}
    100% {transform: translateY(0);}
}

@keyframes Rise {
    0% {transform: translateY(0);}
    100% {transform: translateY(100vh);}
}

@media(max-width: 875px){
    .sun{
        height: 10vw;
        width: 10vw;
    }

    .moon svg{
        height: 10vw;
        width: 10vw;
    }

    .moonContainer{
        right: 3%;
        top: 10%;
    }

    .sunContainer{
        top: 10%;
    }
}

@media(max-width: 700px){

    .moonContainer{
        top: 15%;
    }

    .sunContainer{
        top: 15%;
    }
}

@media(max-width: 600px){

    .moonContainer{
        top: 20%;
        right: 0;
    }

    .sunContainer{
        top: 20%;
    }
}

@media(max-width: 500px){

    .moonContainer{
        top: 30%;
    }

    .sunContainer{
        top: 30%;
    }
}