.cloud{
    height: 80px;
    width: 80px;
    position: relative;
    z-index: 2;
}

.allStructures{
    position: relative;
    height: 80%;
    width: 80%;
    background-color: lightblue;
    border-radius: 50%;
}

.structureOne{
    right: 50%;
}

.structureTwo{
    bottom: 85%;
    left: 10%;
}

.structureThree{
    bottom: 185%;
    right: 10%;
}

.structureFour{
    bottom: 235%;
    right: 20%;
}

.one{
    animation: myanimation 13s linear;
    animation-iteration-count: infinite;
}

.two{
    animation: myanimation 12s linear;
    animation-iteration-count: infinite;
}

.three{
    animation: myanimation 15s linear;
    animation-iteration-count: infinite;
}

.multipleClouds{
    top: 8%;
    position: absolute;
    width: 100%;
}

@media(max-width: 1330px){
    .multipleClouds{
        top: 10%;
    }
    .cloud{
        height: 6.3vw;
        width: 6.3vw;
    }
}

@media(max-width: 1100px){
    .multipleClouds{
        top: 15%;
    }
}

@media(max-width: 900px){
    .multipleClouds{
        top: 25%;
    }
}

@media(max-width: 820px){
    .multipleClouds{
        top: 30%;
    }
    .one{
        animation: myanimationTwo 15s linear;
        animation-iteration-count: infinite;
    }
    .two{
        animation: myanimationTwo 18s linear;
        animation-iteration-count: infinite;
    }
    .three{
        animation: myanimationTwo 20s linear;
        animation-iteration-count: infinite;
    }
}

@media(max-width: 700px){
    .multipleClouds{
        top: 35%;
    }
}

@media(max-width: 600px){
    .multipleClouds{
        top: 40%;
    }
}

@media(max-width: 500px){
    .multipleClouds{
        top: 45%;
    }
    .one{
        animation: myanimationThree 7s linear;
        animation-iteration-count: infinite;
    }
    .two{
        animation: myanimationThree 9s linear;
        animation-iteration-count: infinite;
    }
    .three{
        animation: myanimationThree 11s linear;
        animation-iteration-count: infinite;
    }
}

@media(max-width: 400px){
    .multipleClouds{
        top: 47%;
    }
}

@keyframes myanimation
{
    from {
        left: -10%;
    }
    to {
        left: 110%;
    }
}

@keyframes myanimationTwo{
    from {
        left: -20%;
    }
    to {
        left: 120%;
    }
}

@keyframes myanimationThree{
    from {
        left: -30%;
    }
    to {
        left: 130%;
    }
}