.cloud{
    height: 80px;
    width: 80px;
    position: relative;
    left: -10%;
    z-index: 2;
    animation: myanimation 25s linear infinite;
}

.allStructures{
    position: relative;
    height: 80%;
    width: 80%;
    background-color: lightblue;
    border-radius: 50%;
}

.cloudDay{
    transition: background-color 5s linear;
    background-color: lightblue;
}

.cloudNight{
    transition: background-color 5s linear;
    background-color: rgb(88, 130, 145);
}

.structureOne{
    right: 50%;
}

.structureTwo{
    bottom: 85%;
    left: 10%;
}

.structureThree{
    bottom: 185%;
    right: 10%;
}

.structureFour{
    bottom: 235%;
    right: 20%;
}

.one{
    animation-delay: 1s;
}

.two{
    animation-delay: 9s;
}

.three{
    animation-delay: 5s;
}

.multipleClouds{
    top: 8%;
    position: absolute;
    width: 100%;
}

@media(max-width: 1330px){
    .multipleClouds{
        top: 10%;
    }
    .cloud{
        height: 6.3vw;
        width: 6.3vw;
    }
}

@media(max-width: 1100px){
    .multipleClouds{
        top: 15%;
    }
}

@media(max-width: 900px){
    .multipleClouds{
        top: 25%;
    }
}

@media(max-width: 820px){
    .multipleClouds{
        top: 30%;
    }
    .one{

        animation-iteration-count: infinite;
    }
    .two{

        animation-iteration-count: infinite;
    }
    .three{

        animation-iteration-count: infinite;
    }
}

@media(max-width: 700px){
    .multipleClouds{
        top: 35%;
    }
}

@media(max-width: 600px){
    .multipleClouds{
        top: 40%;
    }
}

@media(max-width: 500px){
    .multipleClouds{
        top: 45%;
    }
    .one{

        animation-iteration-count: infinite;
    }
    .two{

        animation-iteration-count: infinite;
    }
    .three{

        animation-iteration-count: infinite;
    }
}

@media(max-width: 400px){
    .multipleClouds{
        top: 47%;
    }
}

@keyframes myanimation
{
    from {
        left: -10%;
    }
    to {
        left: 110%;
    }
}

