.waveContainer{
    position: relative;
    height: 100vw;
    width: 100vw;
    z-index: 5;
}

.allWaves{
    --variable-static-width: 6800px;
    --variable-responsive-width: 400vw;

    height: 6800px;
    width: 6800px;
    border-radius: 43%;
    position: absolute;
    left: 50%;
    margin-left: calc(var(--variable-static-width) / -2);
    top: 80vh;
    opacity: 0.90;
}

.waveOne{
    animation: wave 40s infinite linear;
    background-color: rgb(20, 121, 204);
    opacity: 1;
}

.waveOneNight{
    transition: background-color 5s linear;
    background-color: rgb(6, 54, 94);
}

.waveOneDay{
    transition: background-color 5s linear;
    background-color: rgb(20, 121, 204);
}

.waveTwo{
    animation: wave 35s infinite linear;
    background-color: rgb(59, 142, 209);
}

.waveTwoNight{
    transition: background-color 5s linear;
    background-color: rgb(6, 61, 128);
}

.waveTwoDay{
    transition: background-color 5s linear;
    background-color: rgb(59, 142, 209);
}

.waveThree{
    animation: wave 30s infinite linear;
    background-color: rgb(67, 154, 224);
}

.waveThreeNight{
    transition: background-color 5s linear;
    background-color: rgb(19, 82, 134);
}

.waveThreeDay{
    transition: background-color 5s linear;
    background-color: rgb(67, 154, 224);
}


@keyframes wave {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

@media(max-width: 1465px){
    .allWaves{
        height: 400vw;
        width: 400vw;
        top: 74vh;
        margin-left: calc(var(--variable-responsive-width) / -2);
    }
}

@media(max-width: 975px){
    .allWaves{
        top: 70vh;
    }
}

@media(max-width: 850px){
    .allWaves{
        top: 63vh;
    }
}

@media(max-width: 570px){
    .allWaves{
        top: 55vh;
    }
}

@media(max-width: 290px){
    .allWaves{
        top: 50vh;
    }
}