.waveContainer{
    position: relative;
    height: 100vw;
    width: 100vw;
    z-index: 5;
}

.allBalls{
    height: 400vw;
    width: 400vw;
    border-radius: 43%;
    position: absolute;
    left: -150%;
    top: 74vh;
    opacity: 0.90;
}

.ballOne{
    animation: wave 40s infinite linear;
    background-color: rgb(20, 121, 204);
}

.ballTwo{
    animation: wave 35s infinite linear;
    background-color: rgb(59, 142, 209);
}

.ballThree{
    animation: wave 30s infinite linear;

    background-color: rgb(67, 154, 224);
}
.ballFour{
    animation: wave 25s infinite linear;
    background-color: rgb(67, 154, 224);
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(-360deg);}
}

@media(max-width: 975px){
    .allBalls{
        top: 70vh;
    }
}

@media(max-width: 850px){
    .allBalls{
        top: 63vh;
    }
}

@media(max-width: 570px){
    .allBalls{
        top: 55vh;
    }
}

@media(max-width: 290px){
    .allBalls{
        top: 50vh;
    }
}