
.main{
    position: relative;
    top: -4.4%;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 50px solid red;
    border-radius: 2px;
}

.box{
    height: 40px;
    width: 60px;
    background-color: rgb(234, 240, 154);
    border-radius: 2px;
}

.position{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}