.centeredColumnFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-a{
    background-color: rgb(145, 173, 211);
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.Title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

.Title h1 {
    z-index: 2;
}


.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.searchBar input{
    border-radius: 8px;
    margin-bottom: 50px;
    z-index: 2;
}

.botton{
    position: absolute;
    top:0px;
}

button{
    border-radius: 8px;
    margin-bottom: 50px;
    z-index: 4;
    border: none;
}

.earth{
    position: absolute;
    right: -10%;
    bottom: -60%;
    height: 100%;
    width: 100%;
    background-color: #878c00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    border-radius: 50% 5% 0 50%;
    z-index: 2;
}

.waves{
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: 1;
    height: 500px;
    width: 100%;
}

.movement{
    position: absolute;
    border-radius: 43%;

    top: 0;
    height: 550px;
    width: 600px;
}

.waveOne{
    animation: wave 21s infinite linear;
    left: 15%;
    background-color: rgb(20, 121, 204);
}

.waveTwo{
    animation: wave 18s infinite linear;
    right: 38%;
    background-color: rgb(59, 142, 209);
    opacity: 96%;
}

.waveThree{
    animation: wave 16s infinite linear;
    background-color: rgb(67, 154, 224);
    opacity: 96%;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(-360deg);}
}

*:focus{
    outline: none;
}

/* Media Queries */

@media(max-height: 1364px){
    .waves{
        bottom: -5%;
    }

}

@media(max-height: 1215px){
    .waves{
        bottom: -10%;
    }
}

@media(max-height: 1090px){
    .waves{
        bottom: -25%;
    }
}

@media(max-height: 900px){
    .waves{
        bottom: -40%;
    }
}

@media(max-height: 800px){
    .waves{
        bottom: -50%;
    }
}

@media(max-height: 600px){
    .waves{
        bottom: -70%;
    }

}

/* width media queries */

@media(max-width: 570px){
    .waveOne{
        left: 20%;
    }

    .waveTwo{
        right: 45%;
    }

    .waveThree{
        right: 10%;
    }
}


