.centeredColumnFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-a{
    background-color: rgb(145, 173, 211);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.results{
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

.Title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

.Title h1 {
    z-index: 2;
}


.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBar input{
    border-radius: 8px;
    margin-bottom: 50px;
    z-index: 2;
}

.botton{
    position: absolute;
    top:0px;
}

button{
    border-radius: 8px;
    margin-bottom: 50px;
    z-index: 4;
    border: none;
}

.earth{
    position: absolute;
    right: -10%;
    bottom: -60%;
    height: 100%;
    width: 100%;
    background-color: #878c00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    border-radius: 50% 5% 0 50%;
    z-index: 2;
}

*:focus{
    outline: none;
}

@media(max-width: 380px){
    .results{
        margin-left: -128.5px;
    }
}
