.centeredColumnFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-a{
    background-position: 50% 0%;
    background-size: 300% 1000%;
    background-image: linear-gradient(to bottom, #91add3, #9587a6, #856875, #654f4d, #413932);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.nightBackground{
    animation: toNight 5s linear forwards;
}

.dayBackground{
    animation: toDay 5s linear forwards;
}

@keyframes toNight {
    from{background-position: 50% 0%;}
    to{background-position: 50% 100%;}
}

@keyframes toDay {
    from{background-position: 50% 100%;}
    to{background-position: 50% 0%;}
}

.results{
    top: 20%;
    position: absolute;
    left: 50%;
    margin-left: -157.5px;
    z-index: 8;
}

.Title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;

}

.Title h1 {
    z-index: 2;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBarBoth{
    z-index: 10;
    border-color: black;
    background-color: rgb(245, 245, 245);
}

.searchBar input{
    border-radius: 25px;
    border-right: none;
    margin: 0 0 50px 15px;
    outline: none;

}

input:hover{
    transform: translateX(-2px);
}

::placeholder{
    color: black;
}

button{
    position: relative;
    right: 23px;
    border-radius: 50%;
    margin-bottom: 50px;
}

button:hover{
    transform: scale(1.2);
}

.earth{
    position: absolute;
    right: -10%;
    bottom: -60%;
    height: 100%;
    width: 100%;
    background-color: #878c00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    border-radius: 50% 5% 0 50%;
    z-index: 2;
}

.hourlyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*:focus{
    outline: none;
}

@media(max-width: 650px){
    .results{
        margin-left: -117px;
    }
}

@media(max-width: 500px){

}
