.landContainer{
    position: absolute;
    top: 60%;
    width: 100vw;
    height: 100vw;
}

.allHills{
    border-radius: 50%;
    position: absolute;
}

.hillOne{
    left: -10%;
    bottom: 10%;
    height: 100vw;
    width: 50vw;
    background-color: rgb(63, 153, 63);
}

.hillOneNight{
    animation: hillOneToNight 5s linear forwards;
}

.hillOneDay{
    animation: hillOneToDay 5s linear forwards;
}

@keyframes hillOneToNight{
    from{background-color: rgb(63, 153, 63);}
    to{background-color: rgb(23, 73, 23);}
}

@keyframes hillOneToDay{
    from{background-color: rgb(23, 73, 23);}
    to{background-color: rgb(63, 153, 63);}
}

.hillTwo{
    height: 90vw;
    width: 90vw;
    background-color: rgb(83, 165, 83);
    z-index: 5;
    animation: toDay 5s linear forwards;
}

.hillTwoNight{
    animation: hillTwoToNight 5s linear forwards;
}

.hillTwoDay{
    animation: hillTwoToDay 5s linear forwards;
}

@keyframes hillTwoToNight{
    from{background-color: rgb(83, 165, 83);}
    to{background-color: rgb(48, 90, 48);}
}

@keyframes hillTwoToDay{
    from{background-color: rgb(48, 90, 48);}
    to{background-color: rgb(83, 165, 83);}
}

.hillThree{
    height: 100vw;
    width: 10vw;
    background-color: rgb(71, 156, 71);
    left: 30%;
    bottom: 5%;
}

.hillFour{
    height: 100vw;
    width: 10vw;
    background-color: rgb(71, 156, 71);
    left: 35%;
    bottom: 7%;
}

.hillThreeFourNight{
    animation: hillThreeFourToNight 5s linear forwards;
}

.hillThreeFourDay{
    animation: hillThreeFourToDay 5s linear forwards;
}

@keyframes hillThreeFourToNight{
    from{background-color: rgb(71, 156, 71);}
    to{background-color: rgb(40, 82, 40);}
}

@keyframes hillThreeFourToDay{
    from{background-color: rgb(40, 82, 40);}
    to{background-color: rgb(71, 156, 71);}
}

.hillFive{
    right: -30%;
    height: 120vw;
    width: 100vw;
    bottom: -15%;
    background-color: rgb(63, 153, 63);
    z-index: 4;
}

.hillFiveNight{
    animation: hillFiveToNight 5s linear forwards;
}

.hillFiveDay{
    animation: hillFiveToDay 5s linear forwards;
}

@keyframes hillFiveToNight{
    from{background-color: rgb(63, 153, 63);}
    to{background-color: rgb(32, 78, 32);}
}

@keyframes hillFiveToDay{
    from{background-color: rgb(32, 78, 32);}
    to{background-color: rgb(63, 153, 63);}
}

.allTrees{
    position: absolute;
}

.treeZero{
    left: 9%;
    top: -3%;
}

.treeOne{
    left: 20%;
    top: -9%;
}

.treeTwo{
    top: 4%;
    left: 35%;
}

.treeThree{
    left: 55%;
}

.treeFour{
    top: -5%;
    left: 70%;
}

.treeFive{
    top: -5%;
    left: 85%;
}

.cave{
    position: absolute;
    bottom: 99%;
    left: 45%;
    z-index: 1;
    height: 10vw;
    width: 10vw;
}

@keyframes upperCaveToNight{
    from{fill:#7A8C98;}
    to{fill:#4c575f;}
}

.mountainOne{
    position: absolute;
    bottom: 95%;
    left: 60%;
    height: 35vw;
    width: 35vw;
    z-index: 1;
}

.mountainTwo{
    position: absolute;
    bottom: 94%;
    left: 69%;
    height: 45vw;
    width: 45vw;
    z-index: 3;
}