p{
    margin: 0;
}

.infoContainer{
    width: 315px;
    color: rgb(238, 238, 238);
    border-radius: 20px;
    opacity: 0.95;
    display: grid;
    grid-template-rows: .1fr .1fr .1fr;
}

.error h3{
    margin-left: 65px;
    animation-delay: 5s;
    animation: dissappear 1s linear;
}

.topRow{
    background-color: rgb(112, 102, 102);
    grid-row: 1/2;
    border-radius: 13px;
    margin-bottom: 5px;
}

.currentTempDisp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.currentTempDisp img{
    width: 70px;
    height: 70px;
}

.weatherDescription {
    text-align: center;
}

.thirdRowDesk{
    overflow-x: hidden;
    cursor: grab;
}

.thirdRow{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-base-color: khaki;
    cursor: grab;
    scroll-padding-left: 8px;
}

.thirdRow > div {
    scroll-snap-align: start;
}

.heightThrRow{
    height: 140px;
    background-color: rgb(112, 102, 102);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
}

.hourlyContainer{
    position: relative;
    display: grid;
    grid-template-rows: .5fr .5fr;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 3px 3px 3px 3px;
    margin: 0 8px 5px 8px;
    flex-shrink: 0;
}

.hourTime {
    background-color: grey;
    width: 57px;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;
}

.weatherImg{
    background-color: grey;
    border-radius: 10px;
}

.weatherImg img{
    height: auto;
    width: 50px;
}

.hourTemp p{
    text-align: center;
    justify-self: center;
    align-self: center;
}

@keyframes dissappear{
    from{visibility: visible;}
    to{opacity: hidden;}
}

@media(max-width: 650px){
    .infoContainer{
        height: 300px;
        width: 235px;
    }
    .error h3{
        margin-left: 20px;
    }

    .topRow{
        height: 150px;
    }

    .heightThrRow{
        height: 120px;
    }

    .weatherDescription h1{
        font-size: 30px;
        margin: 0;
    }

    .currentTempDisp{
        height: 80px;
    }
}

@media(max-width: 500px){
    .infoContainer{
        width: 235px;
    }
    .error h3{
        margin-left: 20px;
    }

    .topRow{
        height: 75px;
    }

    .heightThrRow{
        height: 120px;
    }

    .weatherDescription h1{
        font-size: 30px;
        margin: 0;
    }

    .currentTempDisp{
        height: 80px;
    }
}
